@import 'spinner.css';

div.exchange {
  border-bottom-width: 1px;
  border-bottom-style: inset;
}

div.list {
  background-color: #eee;
  float: none;
  margin: 20px auto;
  text-align: center;
  padding: 20px 10px 15px 10px;
}

.list h1 {
  margin-bottom: 20px;
}

.form-group {
  text-align: left;
}

.total-price {
  font-size: 36px;
}

.btc-price {
  font-size: 30px;
}

.amount-input {
  padding: 15px 0;
}
