<h1>Buying Bitcoin from {{model.displayName}}</h1>
{{#token-fields model=model}}
{{/token-fields}}
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 btc-price">
        $ {{model.ask}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <small>per BTC</small>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group col-md-12">
      <label>Amount</label>
      {{input class="form-control" type="text" value=amount placeholder="How much in BTC?"}}
    </div>
  </div>
</div>
