<div class="loading-pane">
  <div class="row">
    <div class="spinner-loader">
      Loading…
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Loading Data
    </div>
  </div>
</div>
